@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: 0deg 0% 100%;
		--theme-link: 210deg 6% 12%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 210deg 6% 12%;
		--theme-accent-2: 210deg 6% 12%;
		--theme-quote: 351deg 66% 48%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 0deg 0% 100%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 0deg 0% 100%;
		--theme-accent-2: 0deg 0% 100%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-2xl flex-col bg-bgColor px-8 pt-3 text-sm font-normal text-textColor antialiased;
	}
}
