---
import Layout from '../layouts/Layout.astro';
import SocialList from '../components/SocialList.astro';
---

<Layout title="Yuang Wei">
	<main class="flex flex-col mt-10">
			<h1 class="font-bold text-xl mb-4">Hi, I'm Yuang.</h1>
			<SocialList />
	</main>
</Layout>


